@import "variables.css";

html {
	height: 100vh;
	width: 100vw;

	/* ! Now 1rem will always be 10px */
	font-size: 10px;

	overflow-x: hidden;
	scroll-behavior: smooth;
}

section {
	height: fit-content;
	width: fit-content;
}

body {
	margin: 0;
	height: 100%;
	font-size: 1.5rem;

	color: var(--text-color-dark);
	background-color: var(--background-color-dark);
	word-wrap: break-word;
}

#master,
#game-window {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#game-canvas {
	position: absolute;
	bottom: 0px;
}
